@import "tailwindcss";


:root {
    --primario: #fff;
    --fondo: #def7ff; 
    --fondo-sobre: #def7ffcvdvfddf; 
    --solapa-sobre: #005163; 
    --cuerpo-sobre: #003a48; 
    --sombra: rgba(0, 0, 0, 0.2);
    --texto: #003049; 
    --corazon: #ff477e; 
}
img{
  will-change:transform, opacity;
}
body {
    background: radial-gradient(ellipse at bottom right, #00abb3, #3c4048, #b2b2b2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contenedor {
    width: 500px;
}

.envoltura-sobre {
    position: relative;
    background-color: var(--fondo-sobre);
    box-shadow: 0 0 40px var(--sombra);
    border-radius: 15px;
}

.sobre {
    position: relative;
    width: 500px;
    height: 300px;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 180px solid var(--solapa-sobre);
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
    border-radius: 10px;
}

.solapa-derecha {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: var(--cuerpo-sobre);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.solapa-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background-color: var(--cuerpo-sobre);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carta {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primario);
    text-align: center;
    box-shadow: 0 0 5px var(--sombra);
    padding: 20px;
    border-radius: 10px;
    transition: transform .5s ease-in-out;
    padding-bottom: 0px;
}

.contenido {
    font-family: "Gill Sans", Calibri, sans-serif;
    color: var(--texto);
    text-align: left;
    font-size: 12px;
    /*border: 3px dotted var(--texto);*/
    padding: 10px;
    height: 100%;
    line-height: 14px;
    /*cursor: pointer;*/
    overflow-Y: hidden;
}

.corazon {
    position: absolute;
    top: 42%;
    left: 43%;
    width: 80px;
    height: 80px;
    /*background-color: var(--corazon);*/
    background-image: url(../img/iconoAbrir.png);
    background-size: contain;
    /*transform: translate(-50%,0) !important;*/
    transition: transform 0.5s ease-in-out 1s;
    z-index: 2;
    cursor: pointer;
}
.pausar{
  animation-play-state: paused;
}

/*.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    border-radius: 100%;

}

.corazon:before {
    top: -15px;
}

.corazon:after {
    right: 15px;
}*/
.carta .floresIzquierda, .carta .floresDerecha, .carta .coronaFlores, .carta .pieDePagina {
    display: none;
}
/*Agregar clases dinamicos*/
.abierto .sobre::before {
    transform: rotateX(180deg);
    z-index: 0;
}

.abierto .corazon {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

.carta.mostrar-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.cerrando-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.abierta {
    z-index: 3;
    /*height: 86vh;*/
    height: auto;
    top: -25vh;
    background: radial-gradient(ellipse at bottom right, #d1d1d1, #c8e8ed, #f7fdb1);
}
/*ANIMACIONES*/
.elegante{
  opacity:0;
  filter:blur(10px);
  transform:scale(1.1);
  animation:elegante 1s ease forwards;
}

@keyframes elegante{
  to{
    opacity:1;
    filter:blur(0);
    transform:scale(1);
  }
}

.carta.abierta .floresIzquierda {
    display: block;
    height: 40vh;
    max-height: 40vh;
    position: absolute;
    top: -15vh;
    right: 45vh;
    transform: rotate(80deg) !important;
}
.carta.abierta .coronaFlores {
    display: block;
    height: 50vh;
    max-height: 50vh;
    position: absolute;
    top: -34vh;
    /*right: 10vh;*/
}
.carta.abierta .floresDerecha {
    display: block;
    height: 40vh;
    max-height: 40vh;
    position: absolute;
    top: -15vh;
    left: 45vh;
    transform: rotate(-80deg) !important;
}

.carta.abierta .contenido {
    height: auto;
    overflow-Y: hidden;
}
.carta.abierta .pieDePagina {
    display: block;
    width: 100vh;
    position: absolute;
    bottom: 0px;
    left: -164px;
}
.carta.abierta .pieDePagina img{
    width: 800px;
}

.envoltura-sobre.desactivar-sobre .sobre::before {
    pointer-events: none;
}

/*Scroll personalizado*/

/*
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: var(--cuerpo-sobre);
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--corazon);
}
*/

/*Vista celular*/

@media screen and (max-width:430px) {
    body{
        background: linear-gradient(to bottom, #f0d78c, #fcfafa, #64c4ed);
    }
    .contenedor {
        width: 100%;
        padding: 0.2rem;
    }

    .sobre {
        width: 100%;
        height: 250px;
    }

    .sobre::before {
         border-top:150px solid var(--solapa-sobre) ;
        border-right: 200px solid transparent;
        border-left: 200px solid transparent;
    }
    .carta.abierta {
        z-index: 3;
        height: auto;
        top: -33vh;
    }

    .carta.abierta .floresIzquierda {
        display: block;
        height: 25vh;
        max-height: 40vh;
        position: absolute;
        top: -7vh;
        right: 38vh;
        transform: rotate(80deg) !important;
    }
    .carta.abierta .coronaFlores {
        display: block;
        height: 35vh;
        max-height: 50vh;
        position: absolute;
        top: -20vh;
        left: 60px;
        width: 35vh;
    }
    .carta.abierta .floresDerecha {
        display: block;
        height: 25vh;
        max-height: 40vh;
        position: absolute;
        top: -7vh;
        left: 38vh;
        transform: rotate(-80deg) !important;
    }

}


.titulo {
    font-family: Raleway;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(201, 168, 76);
    opacity: 1;
    letter-spacing: 0.35em;
    padding-top: 13vh;
}
.titulo2 {
    font-family: Raleway;
    text-align: center;
    color: rgb(156, 122, 58);
    letter-spacing: 0.35em;
    opacity: 1;
    transform: none;
    margin-bottom: 10px;
}
.nombre {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    margin-bottom: -10px;
}
.apellido, .versiculo  {
    font-family: "Playfair Display";
    color: rgb(156, 122, 58);
    opacity: 1;
    transform: none;
}
.senalDeLaCruz{
    height: 8vh;
}
.versiculoPie {
    color: rgb(201, 168, 76);
    font-family: Raleway;
    opacity: 1;
}
.iconoIglesia{
    width: 10vh;
    height: 10vh;
}
.tituloDireccion {
    font-family: Raleway;
    color: #003049;
    opacity: 1;
}
.direccion{
    font-family: "Playfair Display";
    color: rgb(156, 122, 58);
    opacity: 1;
}
.contenedorParticulas{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.animate-aurora {
    animation: aurora 8s ease-in-out infinite alternate;
}
 @keyframes aurora {
    0% {
        background-position: 0;
        transform: rotate(-5deg) scale(.9);
    }
    25% {
        background-position: 50% 100%;
        transform: rotate(5deg) scale(1.1);
    }
    50% {
        background-position: 100%;
        transform: rotate(-3deg) scale(.95);
    }
    75% {
        background-position: 50% 0;
        transform: rotate(3deg) scale(1.05);
    }
    100% {
        background-position: 0;
        transform: rotate(-5deg) scale(.9);
    }
}